{
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "eqeqeq": 2,
        "quotes": [2, "single"],
        "comma-dangle": [2, "never"],
        "strict": [2, "global"],
        "comma-spacing": [2, {"before": false, "after": true}],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "comma-style": [2, "last"],
        "curly": 2,
        "object-curly-spacing": [2, "never"],
        "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
        "max-len": [1, 100, 4],
        "semi": [2, "always"],
        "no-undef": 2,
        "radix": 2
    }
}
